// Place all the styles related to the timetables controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table {
	border-collapse: collapse;
	width: 100%;
	font-size: 16px;
}

table td, table th {
	padding: 3px;
	width: 18.5%;
}

table td {
	height: 80px;
}

.time_cell {
	width: 7.5%;
	text-align: center;
}

.course_title {
	font-size: 16px;
	font-weight: bold;
	clear:both;
}

.label {
	float: left;
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 3px;
	color: #999;
}

.course_room {
	float: left;
	margin-right: 20px;
}

.course_type {
	float: left;
}

.course_type, .course_room {
	color: #999;
	margin-top: 3px;
	font-style: italic;
}